body {
  background-image: ('https://i.pinimg.com/236x/d0/2a/ed/d02aed079606ea5a8a545253a8542899.jpg');
  background-size:contain ;
  margin: 0 ;
  font-family:'Arial', sans-serif;
}
h1 {
   text-align: center;
   color: rgba(49, 8, 8, 0.678);
   font-weight: bold;
   font-style:inherit;
}
h2 {
  text-align: center;
  color: rgb(128, 79, 44);
}



.image{
  width:150;
  height: 150;
  display: block;
  margin: 0 auto;
  border-radius: 10px ;
  margin-bottom: 10px;
}
.price{
  font-weight: bold;
  color: rgb(94, 60, 60);
}


.menuitem{
  font-size: 18px;
  color:rgba(49, 8, 8, 0.678);
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;

}
